
  
  body {
    background-image: url(../img/mainBackground.png);
  }
  button:focus {
    outline:none;
  }
  .nav {
    background-color: #800000;
  }

  .content {
    margin-top: 30px;
  }
  .con {
    height: 2000px;

  }
  .list-group {
    padding: 15px;
  }
  .list-group-item {
    background-color: #800000;
    border: #680000;
  }
  .list-group a {
    color: #9d9d9d;
  }
  #header {
    height:100px;
    width: 80%;
  }
  .frame {
    background-color: rgba(0, 0, 0, 0.6);

  }
  .container {
    padding: 10px;
    border-radius: 7px;
  }
  .to-the-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
  }

  .btn-user {
    color: #9d9d9d;
    border-radius: 0px;
    border: none;
    height: 50px;
    background-color: #800000;
  }
  .btn-user:hover, .btn-user:active, .btn-user:focus {
    background-color: #800000;
    color: #ccc;
  }
  .filt {
    height: 30px;
  }
  .dropdown-menu {
    color: white;
    border-radius: 0px;
    background-color: rgb(102, 0, 0);
  }
  .dropdown-menu li a{
    color: #ccc;
  }
  .footer {
    background-color: #800000;
    color: #9d9d9d;
    margin: 20px 0 0 0;
  }
  .footer ul li{
    background-color: #800000;
    color: #9d9d9d;
    border: none;
  }
  .btn:active:focus, .btn:focus {
    outline: none;
  }

  .items {
    border-radius: 10px;
    height: 200px;
    width: 150px;
    padding : 5px;
  }
  .filters {
    margin-bottom: 20px;
    padding-right: 15px;
  }
  .form-control {
    color: white;
    border-radius: 0px;
    background-color: rgb(102, 0, 0);
    border: none;
  }
  .form-control:focus {
    box-shadow:none;
    border:none;
  }
  .form-control:hover {
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),
    0 0 8px rgba(255,255,255,0.6);
    background-color: rgb(102, 0, 0);
  }
  .text-content{
    display:hidden;
    text-decoration: none;
  }

  
