
  .nav {
    background-color: #800000;
  }

  .content {
    margin-top: 50px;
  }
  .con {
    height: 2000px;

  }
  .list-group {
    padding: 15px;
  }
  .list-group-item {
    background-color: #d1e0e0;
  }
  #header {
    height:100px;
    width: 80%;
  }
  .frame {
    background-color: rgba(0, 0, 0, 0.6);

  }
  .container {
    padding: 10px;
    border-radius: 7px;
  }
  .to-the-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
  }

  .btn-user {
    color: #9d9d9d;
    border-radius: 0px;
    border: none;
    height: 50px;
    background-color: #800000;
  }
  .btn-user:hover, .btn-user:active, .btn-user:focus {
    background-color: #800000;
    color: #9d9d9d;
  }
  .dropdown-menu {
    color: white;
    border-radius: 0px;
    background-color: rgb(102, 0, 0);
  }
  .dropdown-menu li a{
    color: #ccc;
  }
  .footer {
    background-color: grey;
    margin: 0px;
  }
  .footer ul li{
    background-color: grey;
    border: none;
  }
  .btn:active:focus, .btn:focus {
    outline: none;
  }


  
