  .container-fluid {
    background-color: #800000;
  }
  .jumbotron { 
  	background-image: url(http://www.hytechsolution.in/images/footer.png);
  	margin: 0;
  }

  .content {
    margin-top: 50px;
  }
  .con {
    height: 2000px;

  }
  .list-group {
    padding: 15px;
  }
  .list-group-item {
    color: red;
    background-color: #d1e0e0;
  }
  #header {
    height:100px;
    width: 80%;
  }
  .frame {
    background-color: rgba(0, 0, 0, 0.6);

  }
  .container {
    padding: 0px;
  }
  .toTheTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
  }

